@import url("https://fonts.googleapis.com/css2?family=Montserrat+alternative:wght@300;400;500;700;900&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  --color-copy: #333;
  --color-primary: #ffc500;
  --default-padding: 1rem;
  color: var(--color-copy);
}

body {
  margin: 0;
  padding-top: 7.75rem;
}

header,
main,
footer {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

ul {
  display: flex;
  list-style: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;

  background-color: #000;
  color: #fff;
  width: 100%;
}

.navbar__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;

  width: 100vw;
  height: 7.75rem;
  padding: 0 1rem;
}

.navbar__links {
  justify-self: end;
}

.navbar__links li {
  margin-right: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar__links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1rem;
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.logo-studion {
  cursor: pointer;
  font-weight: 900;
  font-size: 2.375rem;
  align-items: right;
  line-height: 1ch;
  text-transform: uppercase;
}

.logo-studion__subtitle {
  font-weight: 300;
  font-size: 0.875rem;
  float: right;
}

.copy--primary {
  color: var(--color-primary);
}

#slider {
  color: #fff;
}

.slide {
  height: calc(100vh - 8.75rem);
  position: relative;
}

.slide__background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide__copy {
  position: absolute;
  top: 6.25rem;
  left: 51.5vw;
}

.slide__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
}

.slide__copy h2 {
  padding-top: 3.25rem;
  font-size: 6.25rem;
  text-transform: uppercase;
  line-height: 6.25rem;
}

.slide__copy h2 span {
  display: block;
}

.btn {
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  background: unset;
  border: 0.125rem solid #fff;
  border-radius: 5rem;
  color: var(--color-primary);
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--institutional {
  box-shadow: 1px 5px 5px;
  border-color: var(--color-primary);
  background-color: var(--color-primary);
  color: #fff;
}

.btn--institutional:hover {
  color: var(--color-copy);
  background: unset;
}

.btn--quote {
  color: var(--color-copy);
  border-color: var(--color-copy);
  background: unset;
  margin-top: 0rem;
}

#counter {
  background-color: var(--color-primary);
  color: #fff;
}

.counter__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  place-items: center;
  padding: 4.375rem 1rem;
}

.counter__container h3 {
  font-size: 2.1875rem;
  margin-right: 4rem;
}

.counter__container h3 small {
  display: block;
  font-size: 1.25rem;
}

.institutional {
  display: grid;
  grid-template-columns: auto auto;
  gap: 3.125rem;
  place-items: center;
  padding: 4.375rem 0;
}

.institutional__image {
  max-width: 550px;
}

.institutional__copy {
  padding: 0 1.875rem 0 0;
}

.institutional__copy h6 {
  font-size: 0.875;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
}

.institutional__copy h4 {
  font-size: 1.5625rem;
  margin-top: 1rem;
}

.institutional p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  line-height: 1.6875rem;
  margin-bottom: 0;
  margin-bottom: 2.5rem;
}

.quote {
  background-image: url(./images/parallax.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.quote__container {
  display: grid;
  align-items: center;
  justify-items: end;
  min-height: 80vh;
}

.quote__copy {
  background-color: #fff;
  max-height: 70vh;
  padding: 5.625rem 4.375rem;
}

.quote__copy h6 {
  font-size: 0.9375rem;
  font-weight: 400;
  letter-spacing: 0.1875rem;
  line-height: 1.4375rem;
  max-width: 58ch;
  text-transform: uppercase;
}

.quote__copy h2 {
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: -0.1875rem;
  margin: 1.875rem 0;
}

.quote__copy h2 span {
  display: block;
}
